.ps-2{
    padding-left: 20px;
}

.box__banner__user{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* thống kê */

.big-box{
    @apply grid grid-cols-2 gap-[80px]
}
.history__user{

}
.title__history{
    @apply flex justify-between
}
.title__history button{
    @apply text-[#3498DB] 
}
.list__history__user{
   @apply mt-5
}
.name__history__user h5{
    @apply text-[16px] mt-[10px] ml-[10px] text-base	
}
.name__history__user span{
    @apply text-[15px]  font-normal	
}
.item__history__user{
    @apply flex justify-between rounded-md


}
.item__history__user{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 15px;
}
.info__user__history{
   @apply flex justify-center 
}
.item__history__user:hover{
   background-color: #F2F4F4;
}
.img__user__history img{
    @apply w-[54px] rounded-full


}
.time__history{
    @apply flex justify-center mt-[10px]
}
.time__action{
    @apply mr-[15px]
}
.edit_user input{
    background-color: #4A235A;
    border-radius: 2px;
    margin-top: 24px;
    width: 478px;
    height: 40px;
    padding-left: 20px;
    color: #fff;
    outline: none;
}
.edit_user input[type=file] {
    background-color: #fff;
}
.edit_user label {
    display: inline-block;
    width: 100px;
    text-align: left;
}