.container_user{
    @apply w-10/12 m-auto grid grid-cols-12 gap-10 
}
/* thong tin user */
.info__user{
    @apply col-span-9 border mt-10 px-5 py-4 shadow 
}
.header__info__user{
   
}
.breadcrumbs__user{
    @apply flex
}
.breadcrumbs__user div{
  @apply flex px-3 space-x-2 bg-[#ebf3e4]
}
.breadcrumbs__user li{
    @apply  font-medium text-xs py-1
}
.page__content{
    @apply mt-5
}
.btn__edit{
    @apply border bg-[#71b131] border-[#4b7520] text-white text-sm px-2 hover:bg-[#588926] transition py-1
}
.btn__edit a{
    @apply text-white hover:text-white
}
.activity__contents{
    @apply mt-5
}
.table__user{
    @apply border w-full border-[#ccc]
}
.table__user tr{
    @apply border px-3
}
.table__user td {
    @apply pl-3 align-top p-2
}
.first__col{
    @apply w-52  bg-[#f5f5f5] font-bold text-xs
} 
.name__user{
    @apply text-xl font-normal mt-2
}


/* cai dat  */

.setting__user{
    @apply col-span-3 mt-10 shadow border
}
.img__user img{
    @apply w-full h-72
}
.sitting__img{
    @apply bg-slate-100 py-1 text-center text-blue-500 hover:text-black font-sans text-base
}

.nav__profile{
    @apply px-3
}
.list__link li {
    @apply py-2 border-b 
}
.list__link i {
    @apply text-[#71b131] text-base
}
.list__link a {
    @apply text-black pl-3 hover:text-black text-sm font-sans font-normal
}


/* chinh sua thong tin user */
.edit__infomation__page {
    
}
.header__edit__infomation {

}
.form__edit__user ,.list__private__edit , .content__change__email ,.content__change__password{
    @apply shadow border px-3 py-5
}
.item__form__edit {
    @apply my-4 flex
}
.item__label{
    @apply w-24
}
.item__form__edit label{
    @apply  text-base font-medium w-36
}
.labal__form__edit{
    @apply w-32
}
.labal__form__edit__pass{
    @apply w-40
}
.inp__name__edit__pass {
    @apply border  px-2 py-1 w-52 text-black border-slate-400
}
.inp__name__edit {
    @apply border outline-none px-2 py-1 w-80 text-black border-slate-400
}
.inp__date__edit , .inp__sex__edit{
    @apply border border-slate-800 outline-none w-32 mr-2
}
.btn__save__info{
    @apply mt-3
}
.btn__save__info button{
    @apply border px-5 py-1 border-slate-500 bg-[#71b131] text-white hover:bg-[#649d2b] transition font-medium
}

/* chinh sua rieng tu */
.edit__private__page{

}
.list__private__edit{

}
.firts__col__private{
    @apply align-top w-32
}
.list__checkbox__private{
    
}
.list__checkbox__private li{
    @apply py-1
}
.list__checkbox__private label{
    @apply px-1
}
/* chinh sua email */
.change__form__edit h3{
    @apply font-medium
}
.content__change__email td{
    @apply py-2
}
.content__change__email input{
    @apply border outline-none px-2 py-1 border-slate-400
}

/* thay doi password */
.content__change__password td{
    @apply py-2
}
.content__change__password input{
    @apply border outline-none px-2 py-1 border-slate-400
}

/* chinh sua anh */

.box__img__user{
    @apply w-full grid grid-cols-12 gap-5 border shadow px-3 py-4
}
.form__edit__img{
    @apply col-span-8 text-center
}

.btn__edit__img{
    @apply border border-slate-500 bg-[#71b131] text-white font-medium px-2 py-1
}
.from__review__img{
    @apply col-span-4
}
.from__review__img img{
    @apply w-full h-72
}