.sider__bar__admin{
    background-color:#001529 !important ;
    /* height: 0 !important; */
    /* position: fixed !important;
     top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 10 !important; */
}
.header__top__admin{
    background-color: #001529 !important;
    /* position: fixed !important;
    top: 0 !important;
    left: 200px !important;
    right: 0 !important;
    z-index: 10 !important; */

}
.menu__bar__admin{
    height: 100vh !important;
}
.main__content__admin{
  @apply bg-white
    /* margin: auto !important; */
    /* margin-top: 100px !important; */
}