.detail__learning__page{
  @apply w-10/12 m-auto xl:grid xl:grid-cols-12 xl:gap-8 my-8
}
.content__detail__learning{
  @apply col-span-9 lg:grid lg:grid-cols-2 lg:gap-4 shadow px-8 py-4
}
.setting__detail__learning{
  @apply col-span-3 mt-8 xl:mt-0
}
.content__detail__learning{
  border: 1px solid #eee;
}
.video__learning{
  @apply w-full h-[300px] lg:h-auto
}
.deatil__main__learning{
  @apply py-8  lg:py-0
}
.list__main__learning{
  @apply divide-y
}
.list__main__learning div{
  @apply hover:bg-slate-100 px-1 rounded
}
.title__detail__main{
  @apply text-indigo-600 text-xl
}
.item__list__learning{
  @apply flex justify-between py-1 
}
.item__list__learning{
}
.info__item__list{
  @apply flex
}
.info__item__list p {
  @apply  mb-0 
}
.info__item__list span {
  @apply ml-2
}
.title__info__item{
  @apply mb-0 cursor-pointer
}
.info__item__list i{
  @apply mr-3 text-xl text-indigo-600 
}
.icon__item__list i{
  @apply text-indigo-600 text-2xl mr-3 mt-2
}


.menuAdverDeatil{
  display: block;
}
@media (max-width: 1280px) {
  .menuAdverDeatil{
    display: none;
  }
}