.detail__learning__page{
  @apply w-8/12 m-auto grid grid-cols-12 mt-3
}
.content__detail__learning{
  @apply col-span-8 grid grid-cols-2 gap-4 shadow px-3 py-2
}
.content__detail__learning{
  border: 1px solid #ccc;
}
.video__learning{
  @apply w-full h-auto
}
.deatil__main__learning{

}
.title__detail__main{
  @apply text-cyan-700
}
.item__list__learning{
  @apply flex justify-between py-1
}
.item__list__learning{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.info__item__list{
  @apply flex
}
.info__item__list p {
  @apply  mb-0 text-red-600
}
.info__item__list span {
  @apply ml-2
}
.title__info__item{
  @apply mb-0 cursor-pointer
}
.info__item__list i{
  @apply mr-3 text-xl text-cyan-700 
}
.icon__item__list i{
  @apply text-cyan-700 text-2xl mr-3 mt-2
}