.learning__page{
  @apply w-10/12 m-auto bg-white sm:rounded-lg my-8 grid grid-cols-12
}
.box__learning{
  @apply col-span-9 mr-[20px]  shadow-md p-3
}
.box__learning{
  border:  1px solid #eee;
}
.box__learning__title{
  @apply mt-2 bg-indigo-600 py-1 px-4 text-white uppercase font-semibold ;
}
.content__learning{
  @apply px-8
}
.desc__content__learning{
  @apply text-orange-500 mt-4 py-2
}

.learning__time{
}
.box__learning__time{
  @apply flex justify-between 
}
.box__learning__time{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.learning__btn__time{
  @apply flex my-auto
}
.learning__page__time{
  @apply my-1
}
.statistical__learning__time{
  @apply flex justify-between mt-3
}
.statistical__topic__learning{
 @apply flex
}
.statistical__topic__learning li{
  @apply py-1
}
.statistical__topic__learning__point{
  @apply ml-[50px] font-bold 
}
.btn__learning__statistical{
  @apply  mt-[30px]
}
.btn__start__statistical{
  @apply bg-indigo-600 px-8 font-semibold py-1 text-white mr-3
}
.btn__exam__statistical{
  @apply bg-indigo-600 px-8 font-semibold py-1 text-white
}
.box__buy__source{
  @apply col-span-3 p-2 text-center max-h-[200px] pt-[20px]
}
.box__buy__source{
 border: 1px solid #ccc;
  height: auto;
}
.title__buy__source{
    @apply flex justify-center mt-2
}
.btn__buy__coures__cart{
  @apply bg-red-600 text-white py-1 px-8 
}