.nav__management__teacher{
    @apply w-[250px] bg-[#F4F6F7] fixed
}

.nav__management__teacher{
    height: 100vh;
}
.logo__managent{
    @apply mt-[30px]
}
.logo__managent img{
    @apply w-[80px]  ml-auto mr-auto flex
}
.menu__managent h2{
    @apply text-[20px] text-center mt-[20px]
}
.list__item__menu li{
    @apply px-[20px] py-[10px]
}
.list__item__menu a{
    @apply text-[#000] font-medium	 font-sans

}
.list__item__menu i{
    @apply text-[#000] 
}
.list__item__menu li{
    border-radius: 0px 50px 50px 0px ;
}
.list__item__menu i{
    width: 40px;
    height: 40px;
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    margin-right: 10px;
}
.list__item__menu li:hover{
    background-color: #fff;
    color: #009CFF;
    border-left: 3px solid #009CFF;
    transition: 1s;
    
}
.list__item__menu a:hover{
    color: #009CFF;
    
    
}
.list__item__menu i:hover{
    color: #009CFF;

}




/* header main */

.header__management__teacher{
    @apply float-right	shadow-md  w-[1285px] h-[58px]
}

.menu__header__teacher{
    @apply flex float-right mr-[60px] mt-[10px]
}
.menu__header__teacher img{
    @apply w-[39px] rounded-full
}
.menu__header__teacher li{
    @apply px-[10px]
}
.menu__header__teacher a{
    @apply text-[#000] hover:text-[#000]
}
.menu__header__teacher i{
    @apply mt-[10px]  text-[17px]	
}


/* box admin */

.box__content__admin{
    @apply w-10/12 mt-auto  ml-[250px]  
}
.box__content__admin{
   
}
.dashboard__admin__teacher h2{
   margin-top: 20px;
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
}


/* table teacher */
.box__table__teacher{
    @apply  w-[1163px] m-auto mt-[40px]
}
.box__table__teacher{
    border: 1px solid #ABB2B9;
    border-radius: 2px;
   
}

.table__admin__teacher{
    @apply  w-[1163px] m-auto
}
.table__admin__teacher{
    
}
.table__admin__teacher thead{
    padding-top: 50px !important;
    height: 36px;
    border-bottom: 1px solid #D5D8DC;
}

.table__admin__teacher td{
    @apply text-center py-[10px]
}

.table__admin__teacher button{
     @apply px-[5px] text-[25px]
}
.btn__edit__teacher i{
     @apply text-[#F39C12]
}
.btn__delete__teacher i{
     @apply text-[#CB4335]
}

/* category */
.table__categories__teacher, .form__category__teacher{
    @apply w-10/12 m-auto pl-[175px] pt-[85px]
}

.header__categories__teacher{
    @apply flex justify-between mb-[30px]
}
.header__categories__teacher h2{
    @apply text-[16px] font-sans font-normal	

}

.btn__category__teacher{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn__category__teacher:hover{
    background-color: #3F00FF;
}
.btn__category__teacher{
   @apply bg-indigo-600 text-[#fff] px-4 py-2
}

.table__admin__teacher, .form__add__category{
    border:  1px solid #ccc;
}

.btn__next__category button{
   @apply mt-4 text-[#3F00FF]
}
.btn__next__category button{
   border: 1px solid #CACFD2;
}
.btn__next__category button{
    @apply px-4 py-[5px]
}

/* add categories */

.form__add__category{
    @apply  py-10 pl-[115px]
 }
.item__form label{
    @apply mr-[150px] 
}
.item__form input{
    @apply border-slate-400	
}
.item__form input{
    border: 1px solid #ccc;
    outline: none;
    padding: 2px 20px;
    width: 460px;
}