.main{
    width: 800px;
    height: auto;
    border: 1px solid rebeccapurple;
    border-radius: 8px;
    margin: auto;
    padding: 30px;
}

.main form input{
    width: 250px;
    height: 30px;
    border: 1px solid red;
    margin-top: 24px;
}

.main form button{
    width: 90px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    background: green;
    color: aliceblue;
    border-radius: 8px;
    margin-top: 24px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    min-width: 20rem;
    min-height: 25rem;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    z-index: 200;
  
    display: flex;
    flex-direction: column;
  }
  
  .modal .modal-header {
    height: 2.5rem;
    border-radius: 10px 10px 0 0;
    background-color: rgb(29, 29, 29);
    position: relative;
  }
  
  .modal .modal-header h2 {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.4rem;
    cursor: pointer;
  }
  
  .modal .modal-body {
    height: 100%;
    display: grid;
    place-content: center;
  }