/* <<<<<<< HEAD */

.box__signup{
    background-image: url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1185382671?k=20&m=1185382671&s=612x612&w=0&h=QvHSiV0uDYhl69m1rpIt0aYbk4vmpl9kjVcfkMkgyfw=");
    /* background-image: url('https://i.pinimg.com/originals/dc/97/99/dc9799f64169e8cbd380cc053b07a446.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/49/c6/2c/49c62cd432f0a901f53b001e1848e263.gif'); */
    
    background-repeat: no-repeat;
    background-size: 100% 755px;
    height: 755px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.signin__form .signin__main__left input{
    background-color: #6078EA;
    border-radius: 2px;
    margin-top: 24px;
    width: 478px;
    height: 50px;
    padding-left: 20px;
    color: #fff;
    outline: none;
}

input::placeholder{
    color: #fff;
}


.signin__form .button{
    background-color: #6078EA;
    border-radius: 2px;
    color: #fff;
    padding: 10px 30px;
    width: 200px;
}

.signin__main__left i {
    font-size: 28px;
    margin-left: 10px;
}

.signin__main__right .signin__main__right__text{
    padding: 10px 150px 10px 150px;
}
@media (min-width: 640px) { }
@media (min-width: 768px) { }
@media (min-width: 1024px) { }
@media (min-width: 1280px) {  }