/* <<<<<<< HEAD */

.box__sigin{
    height: 752px;
    /* background-image: url('https://i.pinimg.com/originals/43/a0/10/43a010b5290bbe92304d6baf5b3c0d54.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/fd/1c/4a/fd1c4a448977df7d033f60f3d2cf9ce7.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/73/a2/0e/73a20e46766497cce6c45dce5c31a1bd.gif'); */
    background-image: url('https://i.pinimg.com/originals/f0/07/66/f007669223b43a7c17dae49cf45871ce.gif');

    background-repeat: no-repeat;
    background-size: 100% 752px;
}

.signin__form {
    @apply col-span-12 w-10/12 m-auto py-12 flex justify-center
}




.signin__form {
}
.signin__main__left i {
    font-size: 28px;
    margin-left: 10px;
}
.signin__main__right .signin__main__right__text{
    padding: 10px 200px 10px 200px;
}

@media (min-width: 640px) { }
@media (min-width: 768px) { }
@media (min-width: 1024px) { }

@media (min-width: 1280px) {  }