.speaking__page{

}
.main__speaking{
  @apply col-span-9
}
.header__speaking__page{
  @apply bg-neutral-500 flex px-2 py-1
}
.icon__header i{
  @apply text-2xl text-white font-bold mt-1
}
.title__header__speaking{
  @apply ml-3
}
.title__header__speaking h3{
  @apply text-white mb-0
}
.title__header__speaking p{
  @apply text-white mb-0
}
.nav__speaking{
  @apply flex justify-between 
}
.count__question {
  @apply mt-auto font-bold
}
.btn__start__speaking{
  @apply  px-4 py-2 
}
.btn__comment__speaking{
  @apply bg-slate-200 px-4 py-2 hover:bg-slate-300
}
.content__speaking{
  @apply shadow
}
.qustion__content__speaking{
  @apply bg-slate-50 px-5 py-2
}
.qustion__content__speaking h3{
  @apply text-indigo-600 text-2xl
}
.qustion__content__speaking span{
  @apply text-black text-2xl ml-3
}
.main__content__spaeking{
  @apply grid grid-cols-12 gap-4 px-8 py-3
}
.img__question{
  @apply  col-span-3
}
.choose__question{
  @apply col-span-9
}
.answer__question{
  @apply text-center pb-3
}
.answer__question button{
  @apply bg-indigo-600 text-white font-semibold px-4 py-1
}
.chosse__learning{
  @apply col-span-3 shadow px-3 py-2 max-h-[300px]
}
.nav__chosse__learning li{
  @apply bg-indigo-600 text-white mb-1 px-2 py-1 cursor-pointer hover:bg-green-400 font-medium
}

/* Note */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  min-width: 20rem;
  min-height: 25rem;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  z-index: 200;

  display: flex;
  flex-direction: column;
}

.modal .modal-header {
  height: 3rem;
  border-radius: 10px 10px 0 0;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.modal .modal-header h4 {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  cursor: pointer;
}

.modal .modal-body {
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

/* Custom react quill */
.quill_custom {
  height: 250px !important;
}