.main__write__listen{
    @apply w-8/12 m-auto bg-[#D6EAF8]  p-[30px] 
}
.header__write__listen{
    @apply flex justify-between bg-[#512E5F] rounded-lg px-[20px] text-[#fff] 
    pt-3 pb-2
    leading-4	
}

.title__header__write__listen h2{
    @apply text-[#fff] text-[15px]
}
.close__header i{
    @apply text-[20px]
}
.info__write__listen{
    @apply mt-[13px]
}

.audio__listen{
    @apply mt-[25px]
}
.audio__listen audio{
    @apply w-[100%]
}
.conversation__box{
    @apply mt-[73px] bg-[#fff] py-[20px] px-[30px] rounded
}

.inp__text{
   
    border-bottom: 1px solid #000;
    outline: none;
    /* padding-left: 30px; */
    text-align: center;
}
.inp__text:focus{
    border-color: #3498DB;
}

.conversation__box p{
    @apply mb-[10px] leading-loose

}   
.conversation__box span{
    @apply ml-2

}  

.btn__Check__answer{
    @apply mt-[30px] text-center
}
.btn__Check__answer button{
    @apply bg-[#512E5F] text-[#fff] py-[5px] px-[70px] rounded-md


 }


 /* check result */

 .text__result__wrong{
    outline: none;
    color: #A93226;
    text-align: center;
    font-weight: 600;
    text-decoration: line-through;
 }
 .text__result__correct{
    outline: none;
    color: #2E86C1;
    text-align: center;
    font-weight: 600;
 }
 .answer__result{
    @apply text-center mt-[47px] bg-[#512E5F] rounded-lg py-[20px]	
 }
 .answer__result p{
    @apply text-[#fff] text-[16px] font-bold
 }
 .answer__result i{
    @apply text-[#fff] text-[25px] mr-2
 }
 .btn__detail__result{
    @apply bg-white rounded-md py-[5px] px-[50px] text-[16px] font-bold
 }
 .table__list__result{
    @apply w-[870px] m-auto
 }
 .table__list__result thead{
    border-bottom: 1px solid #ccc;
 }
 .table__list__result td{
    @apply text-center py-[10px] text-[16px] font-bold
 }
 .result__correct__icon{
    @apply text-[#2E86C1] text-[20px]
 }
 .result__wrong__icon{
    @apply text-[#A93226] text-[20px]
 }
.table__list__result tbody{
    border-bottom: 1px solid #ccc;
 }

 .back__wep__close{
    @apply text-center mt-[50px]


 }
 .back__wep__close button{
    @apply bg-[#512E5F] text-[#fff] py-[5px] px-[70px] rounded-md


 }

.body__table__result td{
    @apply font-normal

}


 .result__medium td{
    @apply text-[16px] font-normal

 }
 .correct__text__writer{
    color: #01b004;
 }
 .woring__text__writer{
    color: #A93226;
    text-decoration: line-through;
 }