.br__main__write__listen {
  @apply m-auto bg-[#D6EAF8] 
}
.main__write__listen {
}
.header__write__listen {
  @apply flex justify-between  rounded-lg px-[20px] text-[#fff] 
    pt-3 pb-2
    leading-4;
}
.pd__box__write__listen{
   @apply  p-[30px];
}

.title__header__write__listen h2 {
  @apply text-[#fff] text-[15px];
}
.close__header i {
  @apply text-[20px];
}
.info__write__listen {
  @apply mt-[13px];
}

.audio__listen {
  @apply mt-[25px];
}
.audio__listen audio {
  @apply w-[100%];
}

.content{
  @apply   rounded;
}

/* .conversation__box {
  @apply  bg-[#fff] py-[20px] px-[30px] rounded;
} */

.inp__text {
  border-bottom: 1px solid #000;
  @apply bg-slate-100 text-center outline-none
}
.inp__text:focus {
  border-color: #3498db;
}

.conversation__box p {
  @apply mb-[10px] leading-loose;
}
.conversation__box span {
  @apply ml-2;

}

.btn__Check__answer {
  @apply my-4 space-x-8 text-center;
}
.btn__Check__answer button {
  @apply bg-[#ccc] text-[#fff] py-[5px] px-[70px] rounded-md;
}
.btn__Check__answer button {
  @apply bg-indigo-600 text-white
}
.btn__Check__answer button:hover {
  @apply bg-indigo-400 text-black
}

.btn__next_exe {
  @apply text-center;
}
.btn__next_exe button {
  @apply bg-[#ccc] text-[#fff] py-1 px-[40px] rounded-md ;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  background: linear-gradient(to right,#6078ea 0,#17ead9 100%);
}
.btn__next_exe button:hover {
  background: linear-gradient(to right, #6078ea 0, blue  100%);
}

/* check result */

.text__result__wrong {
  outline: none;
  background: #FBE1DB;
  font-weight: 600;
  border: none;
  text-decoration: line-through;
}
.text__result__correct {
  outline: none;
  border: none;
  background: #CCF0A5;
  font-weight: 600;
  text-decoration: line-through;
}
.answer__result {
  @apply text-center mt-[47px] rounded-lg py-[20px];
}
.answer__result {
background: linear-gradient(to right,#17ead9 0,#6078ea 100%);

}
.answer__result p {
  @apply text-[#fff] text-[16px] font-bold;
}
.answer__result i {
  @apply text-[#fff] text-[25px] mr-2;
}
.btn__detail__result {
  @apply bg-white rounded-md py-[5px] px-[50px] text-[16px] font-bold;
}
.table__list__result {
  @apply w-full m-auto;
}
.table__list__result thead {
  border-bottom: 1px solid #ccc;
  
}
.table__list__result thead th{
  border-bottom: 1px solid #ccc;
  @apply text-center py-[10px] text-[16px] font-bold mx-auto;
}

.table__list__result td {
  @apply text-center py-[10px] text-[16px] font-bold;
}
.result__correct__icon {
  @apply text-[#2E86C1] text-[20px];
}
.result__wrong__icon {
  @apply text-[#A93226] text-[20px];
}
.table__list__result tbody {
  /* border-bottom: 1px solid #ccc; */
}


.back__wep__close {
  @apply text-center mt-[50px];
}
.back__wep__close button {
  @apply  text-[#fff] py-[5px] px-[70px] rounded-md;
}
.back__wep__close button {
background: linear-gradient(to right,#17ead9 0,#6078ea 100%);

}

.body__table__result td {
  @apply font-normal;
}

.result__medium td {
  /* @apply text-[16px] font-normal; */
  
}
.correct__text__writer {
  color: #2e86c1;
}
.woring__text__writer {
  color: #a93226;
  text-decoration: line-through;
}
