.flexBox-dash{
    display: flex;
    justify-content: end;
}

.icon-dashboard{
    color: coral;
}

.d-flex{
    display: flex;
}

.ms-2{
    margin-left: 20px;
}

.ant-modal-footer{
    display: none;
}

.ant-modal-content{
    min-width: 1000px;
    margin: 0 auto;
}

.justify-between{
    justify-content: space-between;
}

.py-2{
    padding: 20px 0;
}